
.SettingsWrapper {
    min-height: 300px;
    min-width: 318px;
    padding: 18px;
    /*border: 3px solid rgba(0, 255, 255, 0.46);*/
    /*border: 3px solid rgba(0, 0, 0, 0.46);*/
    border: 3px solid rgb(21, 142, 185);
    border-radius: 4px;
}

.DisplaySettings {
    max-width: 100%;
    min-height: 170px;
    border-radius: 5px;
    /*background-color: rgb(21, 142, 185);*/
    background-color: #383f4c;
    border: 2px solid rgb(21, 142, 185);
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(21, 142, 185);

    padding: 20px;
}

.MaxValueWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.StartValueWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

